<div class="">
  <div class="bg-no-repeat bg-cover "
    style="background-image: url('https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmVzdGl2YWx8ZW58MHx8MHx8fDA%3D&w=1000&q=80'); height: 900px">


    <nav class=" fixed w-full z-20 top-0 left-0 bg-black p-0.08 ">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="" class="flex items-center">
          <img src="" class="h-8 mr-3">
          <span class="text-orange-700 self-center text-2xl font-semibold whitespace-nowrap ">F'24</span>
        </a>
        <div class="flex md:order-2">
          <a href="#register"
            class="relative px-5 py-3 overflow-hidden font-medium text-white bg-transparent  rounded-full group">
            <span
              class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
            <span
              class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
            <span
              class="absolute top-0 left-0 w-full h-0 transition-all duration-200 delay-100 bg-gray-600 group-hover:h-full ease"></span>
            <span
              class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-100 bg-gray-600 group-hover:h-full ease"></span>
            <span
              class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-200 opacity-0 group-hover:opacity-100"></span>
            <span
              class="relative transition-colors duration-300 delay-200 group-hover:text-black ease uppercase">Register</span>
          </a>

        </div>

        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 bg-transparent"
          id="navbar-sticky">
          <ul
            class="flex flex-col p-4 md:p-0 mt-4 font-medium   md:flex-row md:space-x-8 md:mt-0  md:bg-transparent text-black">
            <li>
              <a href="#" class="block py-2 pl-3 pr-4 text-white rounded  md:p-0 md:hover:text-blue-700  cursor-pointer transform
            transition duration-500 hover:scale-110 " aria-current="page">Home</a>
            </li>
            <li>
              <a href="#events" class="block py-2 pl-3 pr-4 text-white rounded  md:hover:text-orange-700 md:p-0 cursor-pointer transform
            transition duration-500 hover:scale-110">Events</a>
            </li>
            <li>
              <a href="#arts" class="block py-2 pl-3 pr-4 text-white rounded  md:hover:text-orange-700 md:p-0 cursor-pointer transform
            transition duration-500 hover:scale-110 ">Arts</a>
            </li>
            <li>
              <a href="#contact" class="block py-2 pl-3 pr-4 text-white rounded  md:hover:text-orange-700 md:p-0 cursor-pointer transform
            transition duration-500 hover:scale-110 ">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="">
      <div>
        <app-newcomp></app-newcomp>
      </div>
    </div>

  </div>
  <div
    class="text-black text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex flex-wrap justify-center mt-6 md:mt-14 font-semibold">
    <div class="text-orange-700 font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl text-center md:mt-10">
      Intro to Fresher's 24
    </div>
    <div class="text-lg md:text-2xl text-center mt-20 px-10">
      Welcome to the most anticipated event of the year,<a class="block text-orange-700 font-bold cursor-pointer transform
      transition duration-500 hover:scale-110 ">Freshers Day 24! </a>
      <br>
      We are thrilled to announce this unforgettable gathering that
      <br>
      promises to be a perfect fusion of <a class="block text-orange-700 font-bold cursor-pointer transform
      transition duration-500 hover:scale-110 ">fun,
        technology, challenge, and entertainment. </a>
      <br>
      We believe in creating an experience that <a class="block text-orange-700 font-bold cursor-pointer transform
      transition duration-500 hover:scale-110 mb-5 ">transcends the ordinary</a>offering a delightful blend

      of workshops, games, and concerts,
      <br>
      all aimed at welcoming and celebrating the newest additions to our community.
      <br>
      <br>
      Our mission is simple: to provide an immersive platform where fresh faces can forge new friendships,
      <br>
      sharpen their technical skills,
      embrace exciting challenges, and lose themselves in the euphoria of live music.
      <br>
      <br>
      From hands-on workshops that empower you with valuable knowledge
      <br>
      to exhilarating games that test your wit and teamwork,
      <br>
      from electrifying concerts that will have you dancing till the dawn
      <br>
      to the intellectual stimulation of
      technical competitions,
      <br>
      our Offline Freshers Day Event is a celebration like no other.
      <br>
      <br>
      So, get ready to embark on an unforgettable journey with us,
      <br>
      as we kickstart your college life with a bang, <a class="block text-orange-700 font-bold cursor-pointer transform
        transition duration-500 hover:scale-110 "> creating memories that will last a lifetime.</a>
    </div>
  </div>
  <div id="events"
    class="text-black text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex flex-wrap justify-center mt-6 md:mt-14">
    <div class="mx-4 md:mx-8">
      <div class="font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl text-center md:mt-10">
        Events
      </div>

      <div class="mt-4 md:mt-14 text-lg md:text-2xl">
        Welcome to our Fresher's 24 Events,
        <br> where we have curated a diverse
        <br>lineup of activities to cater to
        <br> all interests. Unleash your
        <br>
        competitive spirit
        in a series
        <br>of thrilling games and challenging
        <br> technical
        problem-solving
        activities.<br>
        Join us for a day of fun,
        <br>
        learning, and celebration
        <br> as you embark
        on your college journey!

      </div>
      <div class="text-center mt-10 md:mt-10">
        <a href="#eventsextended" class="relative inline-block text-lg group">
          <span
            class="relative z-10 block px-5 py-3 overflow-hidden font-medium leading-tight text-gray-800 transition-colors duration-300 ease-out border-2 border-gray-900 rounded-full group-hover:text-white">
            <span class="absolute inset-0 w-full h-full px-5 py-3 rounded-lg bg-gray-50"></span>
            <span
              class="absolute left-0 w-48 h-48 -ml-2 transition-all duration-300 origin-top-right -rotate-90 -translate-x-full translate-y-12 bg-gray-900 group-hover:-rotate-180 ease"></span>
            <span class="relative">Learn More</span>
          </span>
          <span
            class="absolute bottom-0 right-0 w-full h-12 -mb-1 -mr-1 transition-all duration-200 ease-linear bg-gray-900 rounded-full group-hover:mb-0 group-hover:mr-0"
            data-rounded="rounded-full"></span>
        </a>
      </div>
    </div>
    <div class="mx-4 md:mx-8 mt-10">
      <img src="https://thumbs.dreamstime.com/b/piston-tools-drawings-81541756.jpg" class="w-full">
    </div>
  </div>

  <div id="arts"
    class="text-black text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex flex-wrap justify-center mt-6 md:mt-20">
    <div class="mx-4 md:mx-8 mt-10">
      <img
        src="https://e0.pxfuel.com/wallpapers/420/455/desktop-wallpaper-black-and-white-ballet-full-dance-and-pain-quotes-background-black-dancer.jpg"
        class="w-100 h-100">
    </div>
    <div class="mx-4 md:mx-8 md:mt-10">
      <div class="font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl text-center">
        Arts
      </div>

      <div class="mt-4 md:mt-10 text-lg md:text-2xl">
        Creativity knows no bounds.<br>
        Get ready to be dazzled by captivating<br>
        performances, from mesmerizing shows and <br>
        enchanting dances to soul-stirring songs <br>
        that will leave you in awe.Let your <br>
        own artistic flair shine in our
        <br>creative games, where imagination
        <br> and fun collide. Get ready to be
        <br> swept away by the magic,where <br>
        every moment promises to be a masterpiece!



      </div>
      <div class="text-center mt-10 md:mt-10">
        <a href="#artsextended" class="relative inline-block text-lg group">
          <span
            class="relative z-10 block px-5 py-3 overflow-hidden font-medium leading-tight text-gray-800 transition-colors duration-300 ease-out border-2 border-gray-900 rounded-full group-hover:text-white">
            <span class="absolute inset-0 w-full h-full px-5 py-3 rounded-lg bg-gray-50"></span>
            <span
              class="absolute left-0 w-48 h-48 -ml-2 transition-all duration-300 origin-top-right -rotate-90 -translate-x-full translate-y-12 bg-gray-900 group-hover:-rotate-180 ease"></span>
            <span class="relative">Learn More</span>
          </span>
          <span
            class="absolute bottom-0 right-0 w-full h-12 -mb-1 -mr-1 transition-all duration-200 ease-linear bg-gray-900 rounded-full group-hover:mb-0 group-hover:mr-0"
            data-rounded="rounded-full"></span>
        </a>
      </div>
    </div>

  </div>

  <div id="eventsextended"
    class="text-black text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex flex-col items-center justify-center mt-6 md:mt-20">

    <div class="font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl text-center mt-10 md:mt-20">
      Events
    </div>

    <div class="mt-10 flex items-center justify-center">
      <div class="flex flex-col sm:flex-row justify-center sm:justify-between">


        <div class="max-w-sm mb-6 sm:mb-0 border rounded-lg shadow bg-black sm:mr-4">
          <a>
            <img class="rounded-t-lg"
              src="https://www.globalcareercounsellor.com/blog/wp-content/uploads/2021/03/Things-You-Must-Know-About-Architecture-Interior-Design-Civil-Engineering.jpg" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">CIVIL</h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">The civil events at our Offline Freshers Day Event are an embodiment of 
              innovation and problem-solving in the world of civil engineering. 
              From evaluation of case studies to fun games like bridge making and town planning,the events promote creativity and teamwork with excitement and fun.</p>
          </div>
        </div>


        <div class="max-w-sm mb-6 sm:mb-0 border rounded-lg shadow bg-black sm:mr-4">
          <a>
            <img class="rounded-t-lg" src="https://cdn.wallpapersafari.com/2/60/H8iuft.jpg" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">MECHANICAL </h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">Our mechanical events at the Offline Freshers Day Event are a
               celebration of innovation and engineering excellence.
              From 3D printing to model aircraft designing and everything in between,these mechanical events not only offer a hands-on experience but also a platform for participants to develop their innovative thinking.
              </p>
          </div>
        </div>


        <div class="max-w-sm border rounded-lg shadow bg-black">
          <a>
            <img class="rounded-t-lg"
              src="https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8fDA%3D&w=1000&q=80" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">COMPUTER</h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">The computer events at our Offline Freshers Day Event are a playground for
               tech enthusiasts and aspiring developers alike.
             From game development and testing to simple games like typing speed test,these events not only foster technical proficiency
              but also ignite creativity and competitiveness with thrill and fun. </p>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div
    class="text-black text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex flex-col items-center justify-center  ">

    <div class="font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl text-center">

    </div>

    <div class="mt-10 flex items-center justify-center">
      <div class="flex flex-col sm:flex-row justify-center sm:justify-between">


        <div class="max-w-sm mb-6 sm:mb-0 border rounded-lg shadow bg-black sm:mr-4">
          <a>
            <img class="rounded-t-lg"
              src="https://www.analyticsinsight.net/wp-content/uploads/2022/05/Top-10-Best-Robotics-Project-Ideas-for-Engineering-Students-in-2022.jpg" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">ELECTRICAL & ELECTRONICS</h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">
            Our electronic and electrical events  promise to be an electrifying experience.
            From building robotic arms to delving into the field of IoT,these events blend learning and fun, allowing everyone
             to explore cutting-edge  concepts while fostering creativity and technical skills. </p>
          </div>
        </div>


        <div class="max-w-sm mb-6 sm:mb-0 border rounded-lg shadow bg-black sm:mr-4">
          <a>
            <img class="rounded-t-lg" src="https://wallpapers.com/images/hd/arcade-aesthetic-pwljuegdpzj4n8te.jpg" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">GENERAL</h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400"> Fun events that incorporate workshops and games offer a dynamic and
               engaging experience for participants. Escape rooms,dominos and puzzles are just a start to the wide range of fun activities offered.
               These events are not only entertaining but also foster camaraderie, intellectual stimulation, and healthy competition, 
               making them ideal choices for social gatherings and team-building exercises.</p>
          </div>
        </div>




      </div>
    </div>

  </div>

  <div id="artsextended"
    class="text-black text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex flex-col items-center justify-center mt-6 md:mt-20">

    <div class="font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl text-center mt-10 md:mt-20">
      Arts
    </div>

    <div class="mt-10 flex items-center justify-center">
      <div class="flex flex-col sm:flex-row justify-center sm:justify-between">

        <!-- Dance Card -->
        <div class="max-w-sm mb-6 sm:mb-0 border rounded-lg shadow bg-black sm:mr-4">
          <a>
            <img class="rounded-t-lg"
              src="https://images.unsplash.com/photo-1479813183133-f2e9b38ed6c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kaWFuJTIwZGFuY2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">Dance</h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">
              Freshers' Day events are known for their diverse dance performances. Seniors showcase their experience with traditional, 
              contemporary, or fusion styles, while freshers bring youthful energy and creativity. External dance groups may join, 
              adding variety. These performances foster inclusivity, bringing students of all
               backgrounds together to celebrate the universal language of dance.</p>
          </div>
        </div>

        <!-- Music Card -->
        <div class="max-w-sm mb-6 sm:mb-0 border rounded-lg shadow bg-black sm:mr-4">
          <a>
            <img class="rounded-t-lg"
              src="https://img.freepik.com/premium-photo/concept-eternal-theme-about-eternity-music-musical-instruments-good-mood-ascended-aspiration-action-treble-clef-sheet-music_771426-4115.jpg" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">Music</h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">Freshers' Day music events offer a diverse range of musical experiences, 
              from concerts by prominent artists to performances by freshers. These events showcase the talents of both seasoned professionals 
              and budding musicians, creating a sense of unity and celebration within the campus community. They bridge generational gaps and
               may include music workshops to further develop musical skills.
               Overall, Freshers' Day music events provide a platform for artists of all levels to connect and share their passion for music.</p>
          </div>
        </div>

        <!-- Creativity Card -->
        <div class="max-w-sm border rounded-lg shadow bg-black">
          <a>
            <img class="rounded-t-lg"
              src="https://imageio.forbes.com/specials-images/imageserve/64213c10fc7ed6f0a3eb47ae/0x0.jpg?format=jpg&width=1200" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">Creativity</h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">
              Freshers' Day events highlight creativity through drawing and art displays. Seniors exhibit their skilled work,
               while freshers bring innovative and raw talent to the forefront. Occasionally, external artists contribute to the
                diversity of the event. These creative activities encourage inclusivity,
               bringing students of all backgrounds and skill levels together to celebrate art and imagination.</p>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div id="register" class="flex text-center items-center justify-center mt-40 font-semibold text-3xl md:text-7xl">
    Registrations opening in
  </div>
  <div class="flex text-center items-center justify-center mt-20 font-semibold text-7xl mb-20">

    <app-countdown-timer></app-countdown-timer>
  </div>
  <div id="contact" class="flex text-center items-center justify-center mt-40 font-semibold text-3xl md:text-7xl">
    Contact Us
  </div>
  <div class=" flex justify-around mt-4 md:mt-20 mb-10 md:mb-20 mx-4  md:text-xl ">
    <div>
      Email : sample@email.com &nbsp;
    </div>
    <div>
      &nbsp; Phn : 123456789
    </div>
  </div>

  <footer class="bg-gray-200 rounded-lg shadow mt-6 mb-2 text-black">
    <div class="w-full mx-auto max-w-screen-xl p-3 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center ">All Rights Reserved.
      </span>

    </div>
  </footer>



</div>



<style>
  @media (max-width: 768px) {
    .mt-10 {
      margin-top: 4 !important;
    }

    .mt-20 {
      margin-top: 20px !important;
    }

    /* Add more styles as needed */
  }
</style>